.cover__title {
    z-index: 1;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 100%;
    align-self: flex-start;
    justify-self: center;
    margin: 0;
    padding: 245px 0 32px;
    white-space: pre-line;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .cover__title {
        padding: 195px 0 32px;
    }
}

@media screen and (min-width: 321px) and (max-width: 768px) {
    .cover__title {
        padding: 115px 0 32px;
    }
}

@media screen and (max-width: 320px) {
    .cover__title {
        font-size: 32px;
        line-height: 35px;
        padding: 33px 0 16px;
    }
}