.place {
    display: grid;
    gap: 48px 40px;
    text-align: left;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .place {
        gap: 48px 32px;
    }
}

@media screen and (min-width: 601px) and (max-width: 768px) {
    .place {
        gap: 48px 28px;
    }
}

@media screen and (max-width: 600px) {
    .place {
        row-gap: 32px;
    }
}