.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5%;
    max-width: 1184px;
    margin: 0 0 24px;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .footer {
        width: 90.6%;
    }
}

@media screen and (min-width: 681px) and (max-width: 768px) {
    .footer {
        width: 93.75%;
    }
}

@media screen and (max-width: 680px) {
    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90%;
        margin: 0 0 24px 16px;
        gap: 48px;
    }
}