
/*normalize*/
@import url(../vendor/normalize.css);

@font-face {
    font-family: 'Inter';
    src: url(../fonts/InterWeb/Inter-Regular.woff2);
    font-weight: 400;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  @font-face {
    font-family: 'Inter';
    src: url(../fonts/InterWeb/Inter-Bold.woff2);
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

body {
    background-color: #2A2C2F;
    color: #FFFFFF;
}

.page {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    margin: 28px 0 56px;
    display: flex;
    justify-content: space-between;
    width: 92.5vw;
}

.header__logo {
    width: 176px;
    height: 52px;
    margin: 0;
    padding: 0;
}

.header__links{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}

.header__list {
    list-style: none;
    margin: 18px 0 0;
}

.header__lang-link {
    color: #FFFFFF;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-family: Inter;
    font-size: 24px;
    font-weight: 400;
    line-height: 28px;
}

.header__lang-link:hover {
    opacity: 0.8;
}

.header__lang-link_focus {
    text-decoration-line: underline;
    margin-right: 18px;
}

.content {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}

.lead {
    display: contents;
    width: 76.8vw;
    margin: 0;
}

.lead__title {
    align-items: center;
    margin: 0 0 32px;
    width: 720px;
    font-family: Inter;
    font-size: 96px;
    font-weight: 900;
    line-height: 100px;
}

.lead__subtitle {
    margin: 0 0 64px;
    width: 640px;
    font-family: Inter;
    font-size: 30px;
    font-weight: 400;
    line-height: 36px;
}

.lead__figure {
    margin: 0;
    padding: 0;
}

.lead__image {
    width: 76.8vw;
    height: 615px;
    margin: 0;
    padding: 0;
}

.lead__caption {
    text-align: left;
    margin: 8px 0 0;
    padding: 0;
    font-family: Inter;
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
}

.intro {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin: 92px 0 0;
    width: 76.8vw;
}

.intro__title {
    width: 690px;
    font-family: Inter;
    font-size: 54px;
    font-weight: 900;
    line-height: 58px;
    margin: 0;
    padding: 0;
}

.intro__text {
    width: 690px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    margin: 40px 0 33px;
    padding: 0;
}

.intro__list {
    width: 690px;
    list-style: none;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.photo-grid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(4, 22.2vw);
    grid-template-rows: repeat(3, 213px);
    margin: 92px 0;
}

.photo-grid__item {
    margin: 0;
    padding: 0;
}

.places {
    display: grid;
    gap: 80px;
}

.place {
    display: grid;
    gap: 48px 40px;
    text-align: left;
    width: 76.8vw;
}

.place__title {
    max-width: 460px;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    margin: 0;
    padding: 0;
}

.place__image {
    grid-column: 1;
    width: 36vw;
    height: 460px;
}

.place__website {
    max-width: 456px;
    grid-column: 2;
    grid-row: 1;
    align-self: flex-end;
}

.place__website__url-heading {
    color: #AAAAAA;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 12px;
    margin: 0 0 12px;
    padding: 0;
}

.place__website__link {
    color: #FFFFFF;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
}

.place__website__link:hover {
    opacity: 0.8;
}

.place__paragraphs {
    display: flex;
    flex-direction: column;
}

.place__paragraph {
    grid-column: 2;
    grid-row: 2;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 29px;
    max-width: 484px;
    margin: 0;
    padding: 0;
}

.place__paragraph:nth-child(2n) {
    margin-top: 25px;
}

.cover {
    margin: 92px 0;
    width: 92.5vw;
}

.cover__overlay {
    display: grid;
    grid-template-columns: minmax(auto, 312px) 560px minmax(auto, 312px);
    grid-template-rows: 245px 250px 245px;
    text-decoration: none;
    color: #FFFFFF;
}

.cover__title {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
    font-family: Inter;
    font-size: 72px;
    font-weight: 900;
    line-height: 76px;
    width: 560px;
    align-self: flex-start;
    justify-self: center;
    margin: 0;
    padding: 0;
}

.cover__subtitle {
    grid-column: 2;
    grid-row: 2;
    z-index: 1;
    font-family: Inter;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    max-width: 360px;
    align-self: flex-end;
    justify-self: center;
    margin: 32px 0 0;
    padding: 0;
}

.cover__background {
    grid-column: 1/4;
    grid-row: 1/4;
    width: 92.5vw;
    height: 740px;
    opacity: 0.3;
    object-fit: cover;
    object-position: center;
}

.cover__background:hover {
    opacity: 0.8;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 92.5vw;
    margin: 0 0 24px;
}

.footer__links {
    display: flex;
    gap: 18px;
}

.footer__link {
    color: #FFFFFF;
    text-decoration: none;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    margin: 0;
    padding: 0;
}

.footer__link:hover {
    opacity: 0.8;
}

.footer__copyright {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    padding: 0;
}

@media screen and (min-width: 769px) and (max-width: 1024px) {

    .header {
        margin: 28px 0 48px;
        width: 90.6vw;
    }

    .lead {
        width: 90.6vw;
    }

    .lead__image {
        width: 90.6vw;
        height: 580px;
    }

    .intro {
        margin: 92px 0 0;
        width: 90.6vw;
        align-items: flex-start;
    }

    .photo-grid {
        gap: 14px;
        grid-template-columns: repeat(3, minmax(auto, 30vw));
        grid-template-rows: repeat(4, 225px);
    }

    .photo-grid__item {
        width: 30vw;
        height: 225px;
    }

    .place {
        width: 90.6vw;
        gap: 48px 32px;
    }

    .place__title {
        max-width: 440px;
    }

    .place__image {
        width: 440px;
        height: 440px;
    }

    .place__website {
        max-width: 456px;
    }

    .place__paragraph {
        max-width: 456px;
    }

    .cover {
        width: 100vw;
    }
    
    .cover__overlay {
        grid-template-columns: minmax(auto, 232px) 560px minmax(auto, 195px);
        grid-template-rows: 195px 250px 232px;
    }
    
    .cover__background {
        width: 100%;
        height: 640px;
    }

    .footer {
        width: 90.6vw;
    }

}

@media screen and (min-width: 321px) and (max-width: 768px) {


    .header {
        width: 93.75vw;
    }

    .lead {
        width: 100vw;
    }

    .lead__caption {
        margin-left: 24px;
    }

    .lead__image {
        width: 100%;
        height: 480px;
    }

    .intro {
        margin: 92px 0 0;
        width: 93.75vw;
    }

    .intro__title {
        width: 93.75vw;
    }

    .intro__text {
        width: 93.75vw;
    }

    .intro__list {
        width: 93.75vw;
    }

    .photo-grid {
        gap: 16px;
        grid-template-columns: repeat(2, minmax(auto, 45.8vw));
        grid-template-rows: repeat(6, 264px);
        margin: 88px 0;
    }

    .photo-grid__item {
        width: 45vw;
        height: 264px;
    }

    .places {
        gap: 73px;
    }

    .place {
        width: 93.75vw;
        gap: 48px 28px;
    }

    .place__title {
        max-width: 340px;
        font-size: 42px;
        line-height: 46px;
    }

    .place__image {
        width: 340px;
        height: 340px;
    }

    .place__website {
        max-width: 352px;
    }

    .place__website__url-heading {
        line-height: 12px;
    }
    
    .place__paragraphs {
        max-width: 352px;
    }

    .place__paragraph {
        max-width: 352px;
        line-height: 163%;
    }

    .cover {
        margin: 90px 0 88px;
        width: 100vw;
    }

    .cover__overlay {
        grid-template-columns: minmax(auto, 104px) 560px minmax(auto, 104px);
        grid-template-rows: 115px 250px 115px;
    }

    .cover__background {
        width: 100%;
        height: 480px;
    }

    .footer {
        width: 93.75vw;
    }

}

@media screen and (max-width: 320px) {

    .header {
        width: 90vw;
        margin: 16px 0 48px;
    }

    .header__logo {
        width: 142px;
        height: 42px;
    }

    .header__lang-link {
        font-size: 18px;
        line-height: 20px;
    }

    .lead__image {
        width: 100%;
        height: 200px;
    }

    .lead {
        width: 100vw;
    }

    .lead__title {
        max-width: 288px;
        font-size: 40px;
        line-height: 44px;
    }

    .lead__subtitle {
        max-width: 288px;
        font-size: 16px;
        line-height: 20px;
    }

    .lead__caption {
        margin-left: 16px;
    }

    .intro {
        margin: 64px 0 0;
        width: 90vw;
    }

    .intro__title {
        width: 90vw;
        font-size: 32px;
        line-height: 35px;
    }

    .intro__text {
        width: 90vw;
    }

    .intro__list {
        width: 90vw;
    }

    .photo-grid {
        gap: 12px;
        grid-template-columns: repeat(1, minmax(auto, 90vw));
        grid-template-rows: repeat(12, 216px);
        margin: 64px 0;
    }

    .photo-grid__item {
        width: 90vw;
        height: 216px;
    }

    .places {
        gap: 50px;
    }

    .place {
        width: 100vw;
        row-gap: 32px;
    }

    .place__title {
        grid-row: 1;
        grid-column: 1;
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
        margin-left: 16px;
    }

    .place__image {
        grid-row: 3;
        grid-column: 1;
        width: 100%;
        height: 320px;
    }

    .place__website {
        grid-row: 2;
        grid-column: 1;
        max-width: 288px;
        margin-left: 16px;
    }

    .place__website__url-heading {
        max-width: 288px;
        line-height: 12px;
    }

    .place__paragraphs {
        max-width: 288px;
    }

    .place__paragraph {
        grid-row: 4;
        grid-column: 1;
        max-width: 288px;
        line-height: 26.08px;
        margin-left: 16px;
    }

    .cover {
        margin: 66px 0 64px;
        width: 100vw;
    }

    .cover__overlay {
        grid-template-columns: minmax(auto, 16px) 288px minmax(auto, 16px);
        grid-template-rows: 33px 134px 33px;
    }

    .cover__title {
        max-width: 288px;
        font-size: 32px;
        line-height: 35px;
    }

    .cover__subtitle {
        max-width: 288px;
        font-size: 14px;
        line-height: 16px;
    }

    .cover__background {
        width: 100%;
        height: 200px;
    }

    .footer {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 90vw;
        margin: 0 0 24px 16px;
        gap: 48px;
    }
    
    .footer__links {
        flex-direction: column;
        gap: 32px;
    }
    
    .footer__link {
        font-size: 24px;
        line-height: 24px;
    }
    
    .footer__copyright {
        font-size: 14px;
        line-height: 14px;
    }

}